# PostgreSQL
POSTGRES_USER=polimer
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=polimer_db

# Payload CMS (сгенерируй случайную строку 32+ символов)
PAYLOAD_SECRET=CHANGE_ME_RANDOM_SECRET_STRING_32_CHARS

# Фронтенд
FRONTEND_URL=https://polexpert.ru
VITE_CMS_URL=https://cms.polexpert.ru
